<div class="row">
  <div class="col-md-6">
    <div class="panel panel-danger list-panel">
      <div class="panel-heading">
        <span data-translate="blacklistWebsites">Blacklist Websites</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Content in these websites will not be translated"></span>
        <button type="button" data-toggle="modal" data-target="#blacklistWebsitesModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="opctrl.newBlacklistWebsite" id="new-blacklist-word" placeholder="stackoverflow.com">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="submit" ng-click="opctrl.addBlackListedWebsite()" data-translate="add">Add</button>
          </span>
        </div>
      </div>
      <div ng-show="opctrl.blacklistedWebsites.length === 0" class="text-center vertical-center-list">
        <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> <span data-translate="noBlacklistedWebsites"> No Blacklisted Websites</span> </h5>
      </div>
      <ul class="list-group list-min-size" ng-hide="opctrl.blacklistedWebsites.length === 0">
        <li class="list-group-item clearfix" ng-repeat="website in opctrl.blacklistedWebsites | startFrom : opctrl.blacklistWebsitePage*4 | limitTo : 4">{{website}}
          <span class="pull-right">
            <button class="btn btn-warning" ng-click="opctrl.removeBlackListedWebsite(website)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </li>
      </ul>
      <div class="text-center">
        <ul class="pagination">
          <li ng-repeat="x in opctrl.range(opctrl.blacklistedWebsites.length) track by $index" class="pointer" ng-class="{'active': opctrl.blacklistWebsitePage === $index}">
            <a ng-click="opctrl.blacklistWebsitePage = $index">{{$index + 1}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-danger list-panel">
      <div class="panel-heading">
        <span data-translate="blacklistWords">Blacklist Words</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="These words will not be translated"></span>
        <button type="button" data-toggle="modal" data-target="#blacklistWordsModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="opctrl.newBlacklistWord" id="new-blacklist-word" placeholder="and">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="submit" ng-click="opctrl.addBlackListedWord()" data-translate="add">Add</button>
          </span>
        </div>
      </div>
      <div ng-show="opctrl.blacklistedWords.length === 0" class="text-center vertical-center-list">
        <h5 class="text-muted"><span class="glyphicon glyphicon-exclamation-sign"></span> <span data-translate="noBlacklistedWords">No Blacklisted Words</span></h5>
      </div>
      <ul class="list-group list-min-size" ng-hide="opctrl.blacklistedWords.length === 0">
        <li class="list-group-item clearfix" ng-repeat="word in opctrl.blacklistedWords | startFrom : opctrl.blacklistWordPage*4 | limitTo : 4">{{word}}
          <span class="pull-right">
            <button class="btn btn-warning" ng-click="opctrl.removeBlackListedWord(word)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </span>
        </li>
      </ul>
      <div class="text-center">
        <ul class="pagination">
          <li ng-repeat="x in opctrl.range(opctrl.blacklistedWords.length) track by $index" class="pointer" ng-class="{'active': opctrl.blacklistWordPage === $index}">
            <a ng-click="opctrl.blacklistWordPage = $index">{{$index + 1}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span data-translate="automaticBlacklisting">Automatic Blacklisting</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Settings for automatic blacklisting of websites and words"></span>
      </div>
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label data-translate="automaticBlacklisting">Automatic Blacklisting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <div class="btn-group right-block">
              <button type="button" class="btn btn-default" ng-click="opctrl.setAutoBlacklist(true)" ng-class="{'active': opctrl.autoBlacklist === true}"><span data-translate="on">On</span></button>
              <button type="button" class="btn btn-default" ng-click="opctrl.setAutoBlacklist(false)" ng-class="{'active': opctrl.autoBlacklist === false}"><span data-translate="off">Off</span></button>
            </div>
          </div>
        </form>
        <div class="input-group">
          <span class="input-group-addon" data-translate="maxWordToggles">Maximum Word Toggles</span>
          <input type="number" ng-model="opctrl.wordToggles" ng-change="opctrl.updateWordToggles()" class="form-control">
          <span class="input-group-addon"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Blacklist words toggled more than the number specified"></span></span>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" data-translate="maxActivationsToggles">Maximum Activation Toggles</span>
          <input type="number" ng-model="opctrl.activationToggles" ng-change="opctrl.updateActivationToggles()" class="form-control">
          <span class="input-group-addon"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Blacklist websites on which activation is toggled more than the number specified"></span></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Youtube Video Modals -->

<div id="blacklistWebsitesModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="80%" src="https://www.youtube.com/embed/VuPAv_cDPjo"></iframe>
      </div>
    </div>
  </div>
</div>

<div id="blacklistWordsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="80%" src="https://www.youtube.com/embed/jQu3lHluhwM"></iframe>
      </div>
    </div>
  </div>
</div>
